<p id="notice"><%= notice %></p>

<div id="side">
<p>
  <b>Saved Locations:</b>
  <ul>
  	<% @saved_locations.each do |l| %>
  	<li><%= link_to l.address, user_location_path(@user, l.id) %></li>
  	<% end %>
  </ul>
</p>
</div>

<div id="main">
<h2>Welcome <%= @user.username %>!</h2>
<%= render 'search_form' %>
</div>
